<<<<<<< HEAD
body{
    background-color: #d64a27;
}
=======



>>>>>>> f3090e392adf656277a917a8f8ff4532abd34fe1
.copy{
   background-color: rgb(28, 38, 49);
   height: 50px;
}

footer {
  background: #16222A;
   background: -webkit-linear-gradient(59deg, rgb(39, 82, 104), rgb(16, 29, 39));
  height: 100px;
  
}



.copy {
  font-size: 12px;
  padding: 10px;
 
}


ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* iconos sociales */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoTwiter:hover {
  background-color: #30c2db;
}

.social-network a.icoGoogle:hover {
  background-color: #d64a27;
}

.social-network a.icoInstagram:hover {
  background-color: #a03dda;
}

.social-network a.icoGithub:hover {
  background-color: #39393a;
}
.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoTwiter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoGithub:hover i {
  color: #fff;
}


.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: rgb(219, 216, 216);
}
