.encabezado{
    background-color: rgb(196, 196, 196);

}

.masthead-heading{
    color: rgb(44, 62, 80);
    height: 250px;
}

.portfolio{
    background-color: rgb(44, 62, 80);
}

.page-section-expertos{
    background-color: rgb(196, 196, 196);
    height: 300px;
    text-align: center;
    color: white;
}
