.masthead-heading{
    color: rgb(44, 62, 80);
    height: 250px;
}

.portfolio{
    background-color: rgb(44, 62, 80);
}

.page-section-about{
    background-color: rgb(196, 196, 196);
    height: 400px;
    text-align: center;
    color: white;
}

.page-section-us{
    color: white;
    background-color: rgb(76, 94, 120);
    height:400px;
    text-align: center;
}

.masthead-us{
    color: white;
    background-color: rgb(76, 94, 120);
    height:400px;
}