

.register{
    background: -webkit-linear-gradient(left, #295686, #11afdb);
    padding-top: 140px;
    padding-right: 20%;
    padding-bottom: 50px;
    padding-left: 20%;
  
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 150px;
    margin-right: 20px;
}

.recup{
    text-align: center;
    color: #fff;
    margin-top: 25px;
    margin-left: 200px; 
}


.register-left input{
    border: none;
    border-radius: 1.5rem;
    width: 130px;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 25px;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    height: 550px;
    padding-top: -10px;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.register-left .fa-keycdn{
    margin-top: 15%;
    margin-bottom: 10%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}



.register .inicio-sesion{
    padding: 15%;
    margin-top: 5%;
}
.btnLogin {
    float: right;
    border: none;
    border-radius: 30px;
    padding: 6px;
    background: #df3064;
    color: #fff;
    font-weight: 600;
    width: 150px;
    margin-top: 25px;
    margin-right: 160px;
    box-shadow: 10px 10px 6px rgba(0,0,0,.3);
}

.btnLogin:hover{
    background-color: rgb(39, 195, 206);
}
.btnLogin{
    transition: background-color 0.8s linear 0.2s;
}

.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}



.space{
    height: 25px;
}

/* Iconos sociales*/


.login_form,
.login_form *{
	display: flex;
}

.social_login a{
	width: 80px;
	height: 40px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
	border-radius: 40px;
	position: relative;
	overflow: hidden;
	box-shadow: 10px 10px 6px rgba(0,0,0,.3);
	transition: all .35s;
}
.social_login{
    margin-top: 20px;
    margin-left: 80px;
}

.social_login a.google{
	background-color: #ea4335;
}

.social_login a.google span{
	color: #ea4335;
}

.social_login a.fb{
	background-color: #3b5998;
}

.social_login a.fb span{
	color: #3b5998;
}

.social_login a.tw{
	background-color: #1da1f2;
}

.social_login a.tw span{
	color: #1da1f2;
}

.social_login a:nth-child(2){
	margin: 0 10px;
}

.social_login a span{
	font-size: 14px;
	position: absolute;
	background: #fff;
	top: 0;
	left: 0;
	width: 150px;
	height: 100%;
	border-radius: 40px;
	justify-content: center;
	align-items: center;
	transform: translateX(100%);
	transition: all .35s;
}

.social_login a:hover{
	width: 150px;
}

.social_login a:hover span{
	transform: translateX(0);
}

.login_form {
    float: right;
    width: 100%;
    margin-left: 100px;
}

.boton3 {
  color: #7e8080 !important;
  font-size: 12px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0,0,0,0);
  border: 2px solid;
  border-color: #30d9df;
  border-radius: 25px;
  transition: all 1s ease;
  position: relative;
  margin-left: 50px;
}
.boton3:hover {
  background: #09181f;
  color: #fff !important;
}





























