.navbar{
    background-color: rgb(44, 62, 80);
 
}

.mainNav{
    background-color: rgb(44, 62, 80);
    text-decoration-color: rgb(196, 196, 196);
}

.navbarResponsive{
    text-decoration-color: rgb(196, 196, 196);
}