body{
    background: -webkit-linear-gradient(left, #295686, #11afdb);
}

.recovery{
   
    padding-top: 170px;
    padding-right: 20%;
    padding-bottom: 145px;
    padding-left: 20%;
  
}
.recovery-left{
    text-align: center;
    color: #fff;
    margin-top: 180px;
    margin-right: 20px;
   

}
.recovery-left input{
    border: none;
    border-radius: 1.5rem;
    width: 130px;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 25px;
    cursor: pointer;
}
.recovery-right{
    background: #f8f9fa;
    height: 550px;
    padding-top: -10px;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    
}
.recovery-left .fa-lock{
    margin-top: 15%;
    margin-bottom: 10%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.correo{
    margin-left: 5px;
}

.recovery .recupass{
    padding: 20%;
    margin-top: 5%;
}
.btnEnviar {
    float: right;
    border: none;
    border-radius: 30px;
    padding: 6px;
    background: #df3064;
    color: #fff;
    font-weight: 600;
    width: 200px;
    margin-top: 70px;
    margin-right: 140px;
    box-shadow: 10px 10px 6px rgba(0,0,0,.3);
}

.btnEnviar:hover{
    background-color: rgb(39, 195, 206);
}

.btnEnviar{
    transition: background-color 0.8s linear 0.2s;
}

.recuperar-contraseña{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}


