

.registro-proveedor{
    background: -webkit-linear-gradient(left, #295686, #11afdb);
    padding-top: 180px;
    padding-right: 10%;
    padding-bottom: 130px;
    padding-left: 15%;
}

.usuario{
    text-align: center;
    color: #fff;
    margin-top: 150px;
    margin-right: 20px;
}
.usuario input{
    border: none;
    border-radius: 1.5rem;
    width: 130px;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 25px;
}
.formulario-proveedor{
    background: #f8f9fa;
    height: 558px;
    padding-top: 15px;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%; 
  
}
.usuario .fa-address-card {
    margin-top: 15%;
    margin-bottom: 10%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.registro-proveedor .registrarse-formulario{
    padding: 15%;
    margin-top: 5%;
}
.btnRegistrar {
    float: right;
    border: none;
    border-radius: 30px;
    padding: 6px;
    background: #df3064;
    color: #fff;
    font-weight: 600;
    width: 200px;
    margin-top: 30px;
    margin-right: -135px;
    box-shadow: 10px 10px 6px rgba(0,0,0,.3);
    
}

.btnRegistrar:hover{
    background-color: rgb(39, 195, 206);
}

.btnRegistrar{
    transition: background-color 0.8s linear 0.2s;
}

.formulario-titulo{
    text-align: center;
    margin-top: 4%;
    margin-bottom: -18%;
    color: #495057;
}



.espacio{
    height: 25px;
}

.star{
    margin-right: 3px;
}

.final{
    margin-left: 3px;
    margin-right: 3px;
}

textarea{
    resize: both;
}

