
.registro{
    background: -webkit-linear-gradient(left, #295686, #11afdb);
    padding-top: 40px;
    padding-right: 20%;
    //padding-bottom: 40px;
    padding-left: 20%;
    height: 100vh
}

.login{
    text-align: center;
    color: #fff;
    margin-top: 150px;
    margin-right: 30px;
    
   
}
.login input{
    border: none;
    border-radius: 1.5rem;
    width: 130px;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 25px;
}
.formulario{
    background: #f8f9fa;
    //height: 500px;
    padding-top: 15px;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;

    
}
.login .fa-user-shield {
    margin-top: 15%;
    //margin-bottom: 10%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.registro .form-regist{
    padding: 15%;
    margin-top: 5%;
}
.btnRegistrarse {
    float: right;
    border: none;
    border-radius: 30px;
    padding: 6px;
    background: #df3064;
    color: #fff;
    font-weight: 600;
    width: 200px;
    margin-top: 30px;
    //margin-right: 150px;
    box-shadow: 10px 10px 6px rgba(0,0,0,.3);
}

.btnRegistrarse:hover{
    background-color: rgb(39, 195, 206);
}

.btnRegistrarse{
    transition: background-color 0.8s linear 0.2s;
}

.formulario-encabezado{
    text-align: center;
    margin-top: 4%;
    margin-bottom: -18%;
    color: #495057;
}


